<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="utf-8">
    <!-- <meta name="author" content="pxdraft">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Tapsi - Portfolio Template">
    <meta name="description" content="Tapsi - Portfolio Template"> -->
    <!-- title -->
    <title>Parisa Persnal Website</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- theme css -->
    <link id="bootstrap" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="./static/css/style.css" rel="stylesheet">
</head>
<!-- Body Start -->

<body>
    <!-- Header Top -->
    <header class="main-header d-lg-none">
        <div class="container">
            <!-- Brand -->
            <div class="logo">
                <a class="navbar-brand" href="#">
                    <!-- <img class="logo-dark" title="" alt="" src="./static/img/logo.svg"> -->
                    <!-- <img class="logo-light" title="" alt="" src="./static/img/logo-light.svg"> -->
                </a>
            </div>
            <div class="ms-auto">
                <button class="toggler-menu">
                    <span></span>
                </button>
            </div>
        </div>
    </header>
    <!-- End Header Top -->
    <div class="header-left-fixed one-page-nav">
        <!-- Brand -->
        <div class="logo">
            <a class="navbar-brand" href="#">
                <!-- <img class="logo-dark" title="" alt="" src="./static/img/logo.svg">
                <img class="logo-light" title="" alt="" src="./static/img/logo-light.svg">
            </a> -->
        </div>
        <!-- / -->
        <ul class="main-menu">
            <li>
                <a data-scroll-nav="0" href="#home">
                    <span class="m-icon">
                        <i class="bi-house-door"></i>
                    </span>
                    <span class="m-text">Home</span>
                </a>
            </li>
            <li>
                <a data-scroll-nav="1" href="#services">
                    <span class="m-icon">
                        <i class="bi-person"></i>
                    </span>
                    <span class="m-text">About</span>
                </a>
            </li>
            <li>
                <a data-scroll-nav="2" href="#services">
                    <span class="m-icon">
                        <i class="bi-briefcase"></i>
                    </span>
                    <span class="m-text">Services</span>
                </a>
            </li>
            <li>
                <a data-scroll-nav="3" href="#work">
                    <span class="m-icon">
                        <i class="bi-columns"></i>
                    </span>
                    <span class="m-text">Blog>
                </a>
            </li>
            <li>
                <a data-scroll-nav="4" href="#contactus">
                    <span class="m-icon">
                        <i class="bi-telephone"></i>
                    </span>
                    <span class="m-text">Contact</span>
                </a>
            </li>
        </ul>
        <!-- Top Menu -->
        <div class="theme-btn dropdown">
            <button class="btn dropdown-toggle" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
                <span class="bi my-1 theme-icon-active">
                    <i class="bi-circle-half"></i>
                </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                        <span class="bi me-2 opacity-50 theme-icon">
                            <i class="bi-sun-fill"></i>
                        </span>
                        Light
                        <span class="bi ms-auto d-none">
                            <i class="bi-check2"></i>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                        <span class="bi me-2 opacity-50 theme-icon">
                            <i class="bi-moon-stars-fill"></i>
                        </span>
                        Dark
                        <span class="bi ms-auto d-none">
                            <i class="bi-check2"></i>
                        </span>
                    </button>
                </li>
                <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto">
                        <span class="bi me-2 opacity-50 theme-icon">
                            <i class="bi-circle-half"></i>
                        </span>
                        Auto
                        <span class="bi ms-auto d-none">
                            <i class="bi-check2"></i>
                        </span>
                    </button>
                </li>
            </ul>
        </div>
        <!-- / -->
    </div>
    <!-- Main -->
    <main class="wrapper">
        <!-- Home -->
        <section id="home" data-scroll-index="0" class="home-section">
            <div class="container">
                <div class="row align-items-center min-vh-100 flex-row-reverse">
                    <div class="col-lg-6 ps-xl-5 mb-5 mb-lg-0">
                        <div class="home-intro">
                            <h6>👋 Hi, I’ m</h6>
                            <h1>Parisa 
                                <!-- <span><img src="./static/img/mask.jpg" title="" alt=""></span> -->
                            Bagherzadeh</h1>
                            <h2>I'm a <span id="type-it"></span></h2>
                            <!-- <p class="pe-lg-5">We work with professionals and leaders who want to build careers that fulfil them intellectually, financially</p> -->
                            <div class="btn-bar">
                                <a class="px-btn px-btn-theme" href="#contactus">Download cv <i class="bi-download"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home-image text-center">
                            <div class="hi-icon-top">
                                <svg width="123" height="123" viewBox="0 0 123 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M44.4879 2.72729C18.0681 -8.74866 -8.74539 18.0655 2.73027 44.486L4.62443 48.8556C6.3577 52.8463 7.2521 57.1507 7.2521 61.5015C7.2521 65.8524 6.3577 70.1568 4.62443 74.1475L2.7272 78.5141C-8.74847 104.935 18.065 131.749 44.491 120.273L48.8574 118.375C52.848 116.642 57.1523 115.748 61.5031 115.748C65.8538 115.748 70.1581 116.642 74.1488 118.375L78.5152 120.273C104.932 131.749 131.748 104.935 120.273 78.511L118.376 74.1445C116.642 70.1537 115.748 65.8493 115.748 61.4985C115.748 57.1476 116.642 52.8432 118.376 48.8525L120.273 44.486C131.748 18.0655 104.935 -8.74866 78.5121 2.72729L74.1457 4.62457C70.1551 6.35788 65.8508 7.25231 61.5 7.25231C57.1492 7.25231 52.8449 6.35788 48.8543 4.62457L44.4879 2.72729Z" fill="var(--px-theme)" />
                                </svg>
                            </div>
                            <div class="hi-icon-bottom">
                                <svg width="123" height="123" viewBox="0 0 123 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M44.4879 2.72729C18.0681 -8.74866 -8.74539 18.0655 2.73027 44.486L4.62443 48.8556C6.3577 52.8463 7.2521 57.1507 7.2521 61.5015C7.2521 65.8524 6.3577 70.1568 4.62443 74.1475L2.7272 78.5141C-8.74847 104.935 18.065 131.749 44.491 120.273L48.8574 118.375C52.848 116.642 57.1523 115.748 61.5031 115.748C65.8538 115.748 70.1581 116.642 74.1488 118.375L78.5152 120.273C104.932 131.749 131.748 104.935 120.273 78.511L118.376 74.1445C116.642 70.1537 115.748 65.8493 115.748 61.4985C115.748 57.1476 116.642 52.8432 118.376 48.8525L120.273 44.486C131.748 18.0655 104.935 -8.74866 78.5121 2.72729L74.1457 4.62457C70.1551 6.35788 65.8508 7.25231 61.5 7.25231C57.1492 7.25231 52.8449 6.35788 48.8543 4.62457L44.4879 2.72729Z" fill="var(--px-theme)" />
                                </svg>
                            </div>
                            <img src="./static/img/home-banner.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home -->
        <!-- About -->
        <section id="about" data-scroll-index="1" class="section about-section gray-bg-1">
            <div class="container">
                <div class="about-me">
                    <div class="row align-items-start">
                        <div class="col-lg-5 pb-4 pb-lg-0">
                            <div class="title-01">
                                <span>About Me</span>
                            </div>
                            <div class="about-me-text pb-5">
                                <!-- <h3>My Name Is Parisa Bagherzadeh</h3> -->
                                <h5><span>I Am Available</span> For Artificial Intelligence Projects</h5>
                                <p align="justify">I'm Parisa Bagherzadeh, a machine learning engineer here at PartAI company. My journey into the world of machine learning started with a fascination for the way algorithms can unravel complex problems. 
                                    It was during my college years that a pivotal moment occurred -
                                    a breakthrough in a personal project where I realized the incredible potential of machine learning to transform ideas into reality.</p>
                                <div class="row pt-2">
                                    <div class="col-auto">
                                        <div class="a-count">
                                            <!-- <span class="count">5k</span> -->
                                            <!-- <div class="a-count-text">Projects <br>Completed.</div> -->
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="a-count">
                                            <!-- <span class="count">3k</span> -->
                                            <!-- <div class="a-count-text">Satisfied <br>Clients.</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="title-01 mt-5">
                                <span>Experience</span>
                            </div>
                            <div class="resume-box">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                        <span class="time">2023 - Present</span>
                                        <h5>Machine Learning Engineer</h5>
                                        <p>I have been working as a machine learning enginner at PartAI </p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                        <span class="time">2023</span>
                                        <h5>Machine Learning Engineer Intern</h5>
                                        <p align ="justify">
                                            In my role as a Machine Learning Engineer in the cryptocurrency domain, I delved into the exciting intersection of technology and finance. My responsibilities revolved around leveraging advanced machine learning techniques to decipher the intricate patterns within cryptocurrency markets</p>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                        <span class="time">2019 - Present</span>
                                        <h5>Art Director - Facebook Inc</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 sticky-lg-top ps-xl-5">
                            <div class="row align-items-start">
                                <div class="col-md-7 py-4">
                                    <div class="about-me-img">
                                        <img src="./static/img/home-banner.jpg" title="" alt="">
                                    </div>
                                </div>
                                <div class="col-md-5 py-4">
                                    <div class="about-content">
                                        <ul>
                                            <!-- <li>
                                                <div class="a-icon">
                                                    <i class="fab fa-skype"></i>
                                                </div> -->
                                                <!-- <div class="a-text">
                                                    <a class="text-reset stretched-link" href="#">Skype me</a>
                                                </div>
                                            </li> -->
                                            <li> 
                                                <div class="a-icon">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                                <div class="a-text">
                                                    <a class="text-reset stretched-link" href="mailto:parisa.baqerzade@gmail.com">Mail Me</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="a-icon">
                                                    <i class="fab fa-whatsapp"></i>
                                                </div>
                                                <div class="a-text">
                                                    <a class="text-reset stretched-link" href="https://t.me/Parisa_Bagherzadeh">Telegram Me</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="a-icon">
                                                    <i class="fa fa-map"></i>
                                                </div>
                                                <div class="a-text">
                                                    <a class="text-reset stretched-link" href="https://github.com/Parisa-Bagherzadeh">My Github</a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="a-icon">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                </div>
                                                <div class="a-text">
                                                    <a class="text-reset stretched-link" href="https://resume.io/r/uFdJAgs1A">Resume</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 py-4">
                                    <div class="title-01">
                                        <span>Skills</span>
                                    </div>
                                    <div class="skills">
                                        <div class="skill-lt">
                                            <h6 class="dark-color">Python</h6>
                                            <div class="skill-bar">
                                                <div class="skill-bar-in" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
                                                    <span>90%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-lt">
                                            <h6 class="dark-color">Web Design</h6>
                                            <div class="skill-bar">
                                                <div class="skill-bar-in" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                                                    <span>75%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-lt">
                                            <h6 class="dark-color">Image Processing</h6>
                                            <div class="skill-bar">
                                                <div class="skill-bar-in" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100">
                                                    <span>75%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-lt">
                                            <h6 class="dark-color">Html</h6>
                                            <div class="skill-bar">
                                                <div class="skill-bar-in" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                                                    <span>60%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-lt">
                                            <h6 class="dark-color">CSS</h6>
                                            <div class="skill-bar">
                                                <div class="skill-bar-in" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100">
                                                    <span>50%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About -->
        <!-- Services -->
        <section id="services" data-scroll-index="2" class="section services-section">
            <div class="container">
                <div class="section-heading">
                    <h3>
                        <span>MY SERVICES</span>
                    </h3>
                </div>
                <div class="row gy-4">
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-phone"></i></div>
                            <div class="feature-content">
                                <h5>Deep Learning</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <div class="feature-content">
                                <h5>Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-triangle"></i></div>
                            <div class="feature-content">
                                <h5>Deep Learning</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-columns"></i></div>
                            <div class="feature-content">
                                <h5>Deep Learning</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-distribute-vertical"></i></div>
                            <div class="feature-content">
                                <h5>Development</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="feature-box-01">
                            <div class="icon"><i class="bi bi-globe2"></i></div>
                            <div class="feature-content">
                                <h5>SEO Marketing</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services -->
        <!-- portfolio -->
        <section id="portfolio" data-scroll-index="3" class="section portfolio-section gray-bg-1">
            <div class="container">
                <div class="section-heading">
                    <h3>
                        <span>My Blog</span>
                    </h3>
                </div>
                <div class="lightbox-gallery">
                    <div class="row g-3 g-lg-4 portfolio-content">
                        <div class="col-sm-6 col-lg-4 grid-item">
                            <div class="portfolio-box">
                                <div class="portfolio-text">
                                    <h6>Mobile App Design</h6>
                                    <p>Mobile App, App Design</p>
                                    <a class="gallery-link" href="./static/img/project-1.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                                </div>
                                <div class="portfolio-img">
                                    <img src="./static/img/project-1.jpg" title="" alt="">
                                    <a class="px_modal portfolio-modal-link" href="#project_1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item">
                            <div class="portfolio-box">
                                <div class="portfolio-text">
                                    <h6>Mobile App Design</h6>
                                    <p>Mobile App, App Design</p>
                                    <a class="gallery-link" href="./static/img/project-2.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                                </div>
                                <div class="portfolio-img">
                                    <img src="./static/img/project-2.jpg" title="" alt="">
                                    <a class="px_modal portfolio-modal-link" href="#project_1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item">
                            <div class="portfolio-box">
                                <div class="portfolio-text">
                                    <h6>Mobile App Design</h6>
                                    <p>Mobile App, App Design</p>
                                    <a class="gallery-link" href="./static/img/project-3.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                                </div>
                                <div class="portfolio-img">
                                    <img src="./static/img/project-3.jpg" title="" alt="">
                                    <a class="px_modal portfolio-modal-link" href="#project_1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item">
                            <div class="portfolio-box">
                                <div class="portfolio-text">
                                    <h6>Mobile App Design</h6>
                                    <p>Mobile App, App Design</p>
                                    <a class="gallery-link" href="./static/img/project-4.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                                </div>
                                <div class="portfolio-img">
                                    <img src="./static/img/project-4.jpg" title="" alt="">
                                    <a class="px_modal portfolio-modal-link" href="#project_1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item">
                            <div class="portfolio-box">
                                <div class="portfolio-text">
                                    <h6>Mobile App Design</h6>
                                    <p>Mobile App, App Design</p>
                                    <a class="gallery-link" href="./static/img/project-5.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                                </div>
                                <div class="portfolio-img">
                                    <img src="./static/img/project-5.jpg" title="" alt="">
                                    <a class="px_modal portfolio-modal-link" href="#project_1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 grid-item">
                            <div class="portfolio-box">
                                <div class="portfolio-text">
                                    <h6>Mobile App Design</h6>
                                    <p>Mobile App, App Design</p>
                                    <a class="gallery-link" href="./static/img/project-6.jpg"><i class="bi-arrow-up-right-circle"></i></a>
                                </div>
                                <div class="portfolio-img">
                                    <img src="./static/img/project-6.jpg" title="" alt="">
                                    <a class="px_modal portfolio-modal-link" href="#project_1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End portfolio -->
        <!-- Testimonials -->
        <section class="section testimonials-section">
            <div class="container">
                <div class="section-heading">
                    <h3>
                        <span>Testimonials</span>
                    </h3>
                </div>
                <div class="owl-carousel" data-items="3" data-nav-dots="true" data-lg-items="3" data-md-items="2" data-sm-items="1" data-xs-items="1" data-space="24" data-autoplay="false">
                    <div class="testimonials-box">
                        <div class="t-lead">
                            <img src="./static/img/avatar-1.jpg" title="" alt="">
                        </div>
                        <div class="t-text">
                            <h5>Customers and interested parties engaged.</h5>
                            <p>“I found it easy to capture my ideas and sketch visuals to sheare with my clints on the go”</p>
                            <div class="t-avatar">
                                <h6>Jennifer Lutheran</h6>
                                <span>CEO at pxdraft</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-box">
                        <div class="t-lead">
                            <img src="./static/img/avatar-2.jpg" title="" alt="">
                        </div>
                        <div class="t-text">
                            <h5>Customers and interested parties engaged.</h5>
                            <p>“I found it easy to capture my ideas and sketch visuals to sheare with my clints on the go”</p>
                            <div class="t-avatar">
                                <h6>Jennifer Lutheran</h6>
                                <span>CEO at pxdraft</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-box">
                        <div class="t-lead">
                            <img src="./static/img/avatar-3.jpg" title="" alt="">
                        </div>
                        <div class="t-text">
                            <h5>Customers and interested parties engaged.</h5>
                            <p>“I found it easy to capture my ideas and sketch visuals to sheare with my clints on the go”</p>
                            <div class="t-avatar">
                                <h6>Jennifer Lutheran</h6>
                                <span>CEO at pxdraft</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-box">
                        <div class="t-lead">
                            <img src="./static/img/avatar-2.jpg" title="" alt="">
                        </div>
                        <div class="t-text">
                            <h5>Customers and interested parties engaged.</h5>
                            <p>“I found it easy to capture my ideas and sketch visuals to sheare with my clints on the go”</p>
                            <div class="t-avatar">
                                <h6>Jennifer Lutheran</h6>
                                <span>CEO at pxdraft</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-box">
                        <div class="t-lead">
                            <img src="./static/img/avatar-3.jpg" title="" alt="">
                        </div>
                        <div class="t-text">
                            <h5>Customers and interested parties engaged.</h5>
                            <p>“I found it easy to capture my ideas and sketch visuals to sheare with my clints on the go”</p>
                            <div class="t-avatar">
                                <h6>Jennifer Lutheran</h6>
                                <span>CEO at pxdraft</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Testimonials -->
        <!-- contactus -->
        <section id="contactus" data-scroll-index="4" class="section contactus-section gray-bg-1">
            <div class="container">
                <div class="row gy-5">
                    <div class="col-lg-5 d-flex">
                        <div class="d-flex flex-column w-100">
                            <div class="contact-info">
                                <h3>Let’s Discuss Your Project</h3>
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="bi-chat-left-dots-fill"></i>
                                        </div>
                                        <div class="text">
                                            <label>Chat to us</label>
                                            <p>Our friendly team is there to help. <span><a class="text-reset" href="mailto:info@domainname.com">info@domainname.com</a></span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="bi-compass"></i>
                                        </div>
                                        <div class="text">
                                            <label>Visit us</label>
                                            <p> Come say hello at our office HQ. <span>Warnwe Park Streetperrine, <br> FL 33157 New York City</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="bi-phone"></i>
                                        </div>
                                        <div class="text">
                                            <label>Call us</label>
                                            <p>Mon-Fri from 8am to 5pm. <span>+01 (555) 000-0000</span></p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="google-map mt-5">
                                    <div class="ratio ratio-21x9">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883" allowfullscreen=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 ps-xl-5">
                        <div class="contact-form">
                            <div class="contact-head">
                                <h4>Got Ideas? We've got the skills. Let's team up.</h4>
                                <p>Tell us more about yourself and what you're got in mind.</p>
                            </div>
                            <form id="contact-form" method="POST">
                                <div class="row gx-3 gy-4">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">First name</label>
                                            <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Your Email</label>
                                            <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">Subject</label>
                                            <input name="Subject" id="subject" placeholder="Subject *" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Your message</label>
                                            <textarea name="message" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="send">
                                            <button class="px-btn w-100" type="button" value="Send"> Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End contactus -->
    </main>
    <!-- Main -->
    <!-- Snigle 1 -->
    <div id="project_1" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="./static/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 1 -->
    <!-- Snigle 2 -->
    <div id="project_2" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="./static/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 2 -->
    <!-- Snigle 3 -->
    <div id="project_3" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="./static/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 3 -->
    <!-- Snigle 4 -->
    <div id="project_4" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="./static/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 4 -->
    <!-- Snigle 5 -->
    <div id="project_5" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="./static/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 5 -->
    <!-- Snigle 5 -->
    <div id="project_6" class="px-modal mfp-hide">
        <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <div class="row g-2">
                        <div class="col-6">
                            <img class="border" src="./static/img/project-4.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-2.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-3.jpg" title="" alt="">
                        </div>
                        <div class="col-6">
                            <img class="border" src="./static/img/project-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Website Design for Marketing Agency Startup</h4>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Live URL:</span>
                                <span>www.example.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Snigle 6 -->
    <!-- End All Snigle Projects -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-info">
                <div class="footer-avatar">
                    <img src="./static/img/mask.jpg" title="" alt="">
                </div>
                <h6>Parisa Bagherzadeh</h6>
            </div>
            <ul class="nav social-link">
                <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
            <p class="copyright">© 2023 copyright all right reserved</p>
        </div>
    </footer>
    <!-- End Footer -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="./static/vendor/appear/jquery.appear.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <!--Font Awesome js-->
    <script src="https://kit.fontawesome.com/de7639e506.js" crossorigin="anonymous"></script>

    <script src="./static/vendor/one-page/scrollIt.min.js"></script>
    <script src="./static/js/custom.js"></script>
    <script src="./static/js/dark-light.js"></script>
    <!-- end -->
</body>
<!-- Body End -->

</html>