{%  extends "layout.html" %}

{% block title %}
Add topic
{% endblock %}

{% block content %}

<div class="page-body">
    <div class="container-fluid">
        <div class="row page-title">
            <div class="col-sm-6">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Text</label>
                        <textarea class="form-control" name="text" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}