{% extends 'layout.html' %}

{% block title %}
AI Services
{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-3">
        <div class="card border-primary mb-3">
            <div class="card-header">Pose Detection</div>
            <div class="card-body text-primary">
                <h5 class="card-title">Pose Detection Service</h5>
                <p class="card-text">This is an AI service for pose detection using MediaPipe</p>
                <a href="pose-detection" class="stretched-link"></a>
            </div>
        </div>
        <div class="card border-success mb-3">
            <div class="card-header">Object Detection</div>
            <div class="card-body text-success">
                <h5 class="card-title">Object Detection Service</h5>
                <p class="card-text">This is an AI service for object detection using YOLOv8</p>
                <a href="object-detection" class="stretched-link"></a>
            </div>
        </div>
        <!-- <div class="card border-danger mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-danger">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="stretched-link"></a>    
            </div>
        </div> -->
        <!-- <div class="card border-warning mb-3">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Warning card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="stretched-link"></a>    
            </div>
        </div> -->

    </div>
</div>

{% endblock %}