{% extends 'layout.html' %}

{% block title %}
BMR
{% endblock %}

{% block content %}
        <h1>BMR</h1>  
          <form method="post">
            <div class="mb-3">
              <label class="form-label">Height</label>
              <input type="text" class="form-control" name="height">
            </div>
            <div class="mb-3">
              <label class="form-label">Weight</label>
              <input type="weight" class="form-control" name="weight">
            </div>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input type="age" class="form-control" name="age">
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <input type="age" class="form-control" name="gender">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    <script src="static/js/bootstrap.js"></script>
{% endblock %}
