{% extends 'layout.html' %}
{% block title %}
  AI Service
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for acctegory, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
        </div>
        {% endfor %}
      {% endif %}
{% endwith %}  
        <h1>Upload an image </h1>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile" name="image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}  